* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomFont';
    src: url('font/Formula1-Wide.otf') format('woff')
}

@media (max-width: 1324px) {
    .img-drivers{
        flex-direction: column;
    }
}

@media (max-width: 730px){
    h3 {
        font-size: 20px !important;
    }

    h4{
        font-size: 15px !important;
    }

    li{
        font-size: 13px;
    }
}

@media (max-width: 600px){
    .redbull-logo{
        height: 150px !important;
    }
}

h1 {
    color: rgb(171, 171, 171);
    font-size: 40px;
    text-align: center;
    font-family: 'CustomFont', Arial, sans-serif;
    padding: 20px;
    user-select: none;
    margin-top: 650px;
}

h2 {
    color: rgb(255, 0, 0);
    font-family: 'CustomFont';
    rotate: 90deg;
    text-align: center;
    width: 100px;
    height: fit-content;
    font-size: 35px;
    white-space: nowrap;
}

h3 {
    font-family: 'CustomFont';
    color: rgb(255, 0, 0);
    font-size: 35px;
    border: 3px solid yellow;
}

h4 {
    font-family: 'CustomFont';
    color: rgb(0, 0, 0);
    font-size: 30px;
}

h5{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    font-family: 'CustomFont', Arial, sans-serif;
    padding: 20px;
    user-select: none;
}

p{
    padding: 10px;
}

.storbakgrunn {
    background-image: url(bilder/bakgrunn-s1.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}

.wholepage {
    min-height: 100vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5%, -50%);
    user-select: none;
}

#image-track .image {
    width: 85vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 60px;
    align-items: center;
}


nav {
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
}

nav a,
nav button {
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    font-family: 'Roboto Flex', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 0, 0);
    padding: 8px;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {
    font-size: 15px;
    padding: 5px;
    color: white;
}

/* red bull */

.redbull {
    background-color: #001120;

}

.redbull-logo {
    width: 100;
    height: 200px;
    padding: 35px;
}

.redbull-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-drivers {
    width: 100%; 
    box-sizing: border-box;
    gap: 20px;
    margin-bottom: 20px; 
    display: flex;
}

.main {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start; 
    height: 100%; 
    gap: 20px; 
}

.main-container {
    display: flex; 
    justify-content: center;  
    min-height: 100vh; 
    background-color: rgb(143, 142, 142); 
    padding: 20px;
}


.drivers {
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between; 
    gap: 20px; 
    width: 100%; 
    border: solid 4px rgb(0, 0, 0);
}

.tekst {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    color: rgb(50, 50, 50);
    align-items: center;
}

.drivers img {
    height: 360px; 
    border: 4px solid yellow; 
    border-radius: 10px; 
    padding: 5px;
    object-fit: cover; 
}

li {
    padding: 20px;
}


.driver1 .driver2 {
    display: flex;
    flex-direction: row;
}

.bilen {
    height: 750px;
    width: auto;
    box-sizing: border-box;
}

.bil-bilde{
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: relative;
    }

.rb21 {
    background-image: url('bilder/f1 sideprofil/redbull-bil.jpg');
}

.hover-effect:hover {
    filter: grayscale(50%);
}

.tekstboks {
    color: white;
    border: solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}