* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'CustomFont';
    src: url('font/Formula1-Wide.otf') format('woff')
}

h1 {
    color: red;
    font-size: 30px;
    text-align: center;
    font-family: 'CustomFont', Arial, sans-serif;
    padding: 20px;
    user-select: none;
    margin-top: 650px;
}

h2 {
    color: rgb(255, 0, 0);
    font-family: 'CustomFont';
    rotate: 90deg;
    text-align: center;
    width: 100px;
    height: fit-content;
    font-size: 40px;
    white-space: nowrap;
}

h3 {
    font-family: 'CustomFont';
    color: rgb(255, 0, 0);
    font-size: 45px;
    border: 3px solid yellow;
}

.storbakgrunn {
    background-image: url(bilder/bakgrunn-s1.jpg);
    background-size: cover;
    position: relative;
    z-index: 2;
}

.wholepage {
    min-height: 100vh;
    position: relative;
    background-color: black;
    overflow: hidden;
}

#image-track {
    display: flex;
    gap: 5vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-5%, -50%);
    user-select: none;
}

#image-track .image {
    width: 85vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tekstboks {
    color: white;
    border: solid black;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    height: 60px;
    align-items: center;
}


nav {
    background-color: rgb(255, 0, 0);
    margin: 0 auto;
}

nav a,
nav button {
    background-color: inherit;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5rem;
    padding: 15px;
    border: none;
    font-family: 'Roboto Flex', 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.dropdown-content {
    display: none;
    flex-direction: column;
    position: absolute;
    background-color: rgb(255, 0, 0);
    padding: 8px;
    min-width: 160px;
    z-index: 1;

}

.dropdown-content a {
    font-size: 15px;
    padding: 5px;
    color: white;
}

/* red bull */

.redbull {
    background-color: #001120;

}

.redbull-logo {
    width: 100;
    height: 200px;
    padding: 35px;
}

.redbull-top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-drivers {
    display: flex; /* Enable flexbox */
    justify-content: flex-end; /* Align items to the right */
    align-items: center; /* Vertically center the images (optional) */
    width: 100%; /* Ensure it takes the full width of the container */
    border: solid 2px red;
    height: 500px;
}

.main {
    width: 1000px;
    height: 500px;
    border: 3px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container {
    display: flex; 
    justify-content: center;  
    min-height: 100vh; 
    background-color: rgb(143, 142, 142); 
}